*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Raleway', sans-serif;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;    
}
section{
    width: 100%;
}
.header{
    color: lightsalmon;
    text-align: center;
}
.second header{
    color: lightsteelblue;
}
h1{
    color: mediumorchid;
}
.name{
    color: purple;
}
.assignment{
    width: 40%;
    float: left;
    padding: 6% 2%;
    margin-left: 5%;
}
.button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(purple,pink);
    border-radius: 10%;
    height: 40px;
}

.b{
    text-align: left;
}
.clear{
    clear: both;
}
.experience-area-box-shadow1{
    text-align: center;
    width: 25%;
    height: 350px;
    float: left;
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
    padding-left: 2%;
    margin-left: 160px;
    font-size: 20px;
}
.experience-area-box-shadow2{
    text-align: center;
    width: 25%;
    height: 350px;
    float: left;
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
    padding-left: 2%;
    margin-left: 15px;
    font-size: 20px;
}
.experience-area-box-shadow3{
    text-align: center;
    width: 25%;
    height: 350px;
    float: left;
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
    padding-left: 2%;
    margin-left: 15px;
    font-size: 20px;
}
footer{
    text-align: left;
    color: black;
    width: 100px;
}